body{
    font-family: Verdana;
    font-size: 1.8em;
    text-align: center;
    background-color: white;
}

.name {
  position: absolute;
  top: 10px;  
  left: 10px; 
  font-size: 0.6em;
}

.radioTotal {
  display: flex;
  flex-direction: column;
  align-items: center;   
}

.radioRow {
  display: flex;
  justify-content: center; 
  gap: 50px;             
}

.labelRow {
  display: flex;
  justify-content: center; 
  gap: 30px;             
}

.labelRow label {
  text-align: center;
  width: 40px; 
  font-size: 0.8em;
}

#background {
  opacity: 0.3;
  position:fixed;
  top: 55%;       
  left: 50%;        
  transform: translate(-50%, -50%); 
  z-index: -9999;
  aspect-ratio: initial;

}

#logo {
  position: absolute;
  top: 0px;  
  right: 0px; 
  height: 4em;
  width: 14em;
}

#campaignLogo {
  position: absolute;
  top: 100px;  
  right: 0px; 
  height: 8em;
  width: 14em;
}